<section class="blog">
	<div class="container">
		<div class="row">
			<div class="heading-block set-relative col text-center mb-30">
				<h2 class="h2">{{{blog.heading}}}</h2>
				<p class="text-subtitle">{{blog.description}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="blog-card set-relative h-100">
					<div class="blog-card-date text-center">
						<span>01</span>
						<span>jan</span>
					</div>
					<a href="#">
						<img class="blog-card__img" src="{{blog.img1}}" alt="{{blog.alt1}}">
					</a>
					<h4 class="h4"><a href="#">{{{blog.card-title1}}}</a></h4>
					<p class="mb-30">{{{blog.card-text1}}}</p>
					<a class="btn btn--primary" href="#">Read more</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="blog-card set-relative h-100">
					<div class="blog-card-date text-center">
						<span>02</span>
						<span>feb</span>
					</div>
					<a href="#">
						<img class="blog-card__img" src="{{blog.img2}}" alt="{{blog.alt2}}">
					</a>
					<h4 class="h4"><a href="#">{{{blog.card-title2}}}</a></h4>
					<p class="mb-30">{{{blog.card-text2}}}</p>
					<a class="btn btn--primary" href="#">Read more</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="blog-card set-relative d-flex flex-column align-self-stretch h-100">
					<div class="blog-card-date text-center">
						<span>03</span>
						<span>mar</span>
					</div>
					<a href="#">
						<img class="blog-card__img" src="{{blog.img3}}" alt="{{blog.alt3}}">
					</a>
					<h4 class="h4"><a href="#">{{{blog.card-title3}}}</a></h4>
					<p class="mb-30">{{{blog.card-text1}}}</p>
					<a class="btn btn--primary" href="#">Read more</a>
				</div>
			</div>
		</div>
	</div>
</section>